<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Drive-Pro</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css?v=30">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>

    <div class="mobile-header">
        <div class="mobile-menu-btn" id="mobileMenuBtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1>Drive-Pro</h1>
    </div>

    <nav id="nav"></nav>
    <div class="mobile-nav" id="mobileNav"></div>

    <div id="app"></div>

    <footer id="footer"></footer>

    <script type="module" src="/static/js/main.js"></script>
</body>
</html>